/* Logo Top */
#dinua-logo{
    width: 80px; 
    height: 27px; 
    margin: 2.5px 5px 2.5px 0px;
    float: left; 
    background: url('../css/images/logo-top.png') no-repeat; 
    background-position: 0px -2px;
    cursor: pointer;
}

#dinua-logo:hover{
    background:url('../css/images/logo-top-hover.png') no-repeat;
    background-position: 0px -2px;
}


#top-notification-area{
    margin: 5px 10px 0px 10px;
}
#top-notification-area ul{
    float: left;
    margin: 0 1px 0 1px;
}
#top-notification-area ul li{
    float: left;
    list-style: none;
}
#top-notification-area ul li div{
    float: left;
}
.top-notification{
    float: left; 
    width: 25px;
    height: 25px;
    margin: 0 5px 0 0px;
    background: url('../css/images/icon/icon_top.png') no-repeat left;
}
/* Message Notif */
#message-notif{background-position: -52px -1px;}
#message-notif:hover{background-position: -52px -26px;}

/* Friend Notif */
#friend-notif{background-position: -27px -1px;}
#friend-notif:hover{background-position: -27px -26px;}

/* General Notif */
#general-notif{background-position: -1px -1px;}
#general-notif:hover{background-position: -1px -26px;}

.notify-counter{margin: 10px 0 0 10px; color: #fff; font: bold; font-size: larger;  
    background: rgb(200, 54, 54); /* The Fallback */
    background: rgba(200, 54, 54, 0.8);}

/* End Notification */

/* Panel Tab/button */
.tab {
	position: relative;
    z-index: 999;
}

.tab ul.menu-bar {
	display: block;
	position: relative;
  	float: right;
  	clear: right;
  	height: 42px;
	width: auto;
  	font-weight: bold;
	line-height: 42px;
	margin: -7px 0 0 0;
  	color: white;
  	font-size: 80%;
	text-align: center;
}

.tab ul.menu-bar li.left {
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.menu-bar li.right {
  	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  	display: block;
	float: left;
}

.tab ul.menu-bar li {
 	text-align: left;
  	padding: 0 6px;
	display: block;
	float: left;
	height: 30px;
}

.tab ul.menu-bar li a {
	color: #15ADFF;
}

.tab ul.menu-bar li a:hover {
	color: white;
}

.sep {color:#414141}

.tab a.open, .tab a.close {
	height: 20px;
	line-height: 20px !important;
	padding-left: 30px !important;
	cursor: pointer;
	display: block;
	width: 100px;
	position: relative;
	top: 11px;
}

.tab a.open {background: url(../css/images/slider/bt_open.png) no-repeat left 0;}
.tab a.close {background: url(../css/images/slider/bt_close.png) no-repeat left 0;}
.tab a:hover.open {background: url(../css/images/slider/bt_open.png) no-repeat left -19px;}
.tab a:hover.close {background: url(../css/images/slider/bt_close.png) no-repeat left -19px;}

/* sliding panel */
#toppanel-area{
    top: 0;
    position: fixed;
    width: 100%;
    background: #272727;
    z-index: 999;
    height: 35px;
    border-bottom: 3px solid  #192123;
}
#toppanel {
    /*Panel will overlap  content */
    top: 0;
    width: 90% ;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.menu-panel {
	width: 200px;
	height: auto;
    max-height: 300px;
	color: #999999;
	background: #272727;
	overflow: auto;
	z-index: 3;
	display: none;
    position: absolute;
}

.menu-panel .content {
	width: 180PX;
	margin: 15px 15px 15px 15px;
	text-align: left;
	font-size: 1em;
}
/* Menu Panle */
#menu-panel-friend{
    top: 35px;
    margin-left: -40px;
}
#menu-panel-message{
    top: 35px;
    margin-left: -40px;
}
#menu-panel-general{
    top: 35px;
    margin-left: -40px;
}
/* Menu Panel */

#panel {
	width: 200px;
	height: 300px;
	color: #999999;
	background: #272727;
	overflow: hidden;
	z-index: 3;
	display: none;
    position: absolute;
    right: 20px;
    top: 35px;
}

#panel h1 {
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0;
	color: white;
}

#panel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
}

#panel p {
	margin: 5px 0;
	padding: 0;
}

#panel a {
	text-decoration: none;
	color: #15ADFF;
}

#panel a:hover {
	color: white;
}

#panel a-lost-pwd {
	display: block;
	float: left;
}

#panel .content {
	width: 100%;
	margin: 0 auto;
	padding: 15px 5px 5px 5px;
	text-align: left;
	font-size: 0.85em;
}

#panel .content .left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#panel .content .right {
	border-right: 1px solid #333;
}

#panel .content form {
	margin: 0 0 10px 0;
}

#panel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#panel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

